html {
	background-color: #f0f4f4 !important;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: #263333;
	background-color: #f0f4f4;
}

h1,
h2,
h3,
h4 {
	font-family: "Abril Fatface", serif;
	font-weight: normal;
}

a {
	color: #0097ff;
	text-decoration: none;
}

a:hover {
	color: #0088e6;
}

img {
	width:100%;
}

p {
	margin-top:10px !important;
}

.has-navbar-fixed-top {
	padding-top: 5.75em !important;
}

.navbar-burger {
	height: inherit !important;
}

.navbar-menu {
	background-color: #f0f4f4 !important;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.navigation {
	font-size:15px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	display:flex;
	align-items: top;
	list-style-type: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.navigation li {
	border-bottom: 2px solid transparent;
	margin: 15px;
}

.navigation li:hover {
	border-bottom: 2px solid #fff;
	cursor: pointer;
}

.navbar {
	background-color: inherit !important;
	border-bottom: 2px solid #fff;
}

.navbar-end > .navbar-item {
	text-align:center;
	font-size:15px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #f0f4f4;
}

.navbar-end > .navbar-item:hover {
	font-weight: 700;
	color: inherit;
	background-color: inherit;
}

.navbar-end > .navbar-item.is-active {
	color: inherit !important;
	background-color: #f0f4f4;
	font-weight: 700;
	font-style: bold;
}

.section-border {
	border-top: 1px solid #fff;
	margin-top: 20px !important;
	padding-top: 20px !important;
}

.logo-text {
	font-family: "Abril Fatface", serif;
	font-size: 1.5em;
	text-align: left;
	line-height:0.9;
	margin-left:5px;
	color: black;
}

.logo-image {
	margin:5px;
	width:auto;
	height:4em;
	max-height: 4em !important;
}

.headshot-container {
	display: flex !important;
	align-items: center !important;
	max-width: 300px !important;
}

.title {
	font-weight: normal !important;
}

.contact {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer {
	border-top: 2px solid #fff;
	background-color: #f0f4f4 !important;
}
